.venv/
venv/
frontend/venv/
.vscode/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.streamlit/secrets.toml
.DS_Store
Thumbs.db
DSA 8502 Predictive and Optimisation Analytics-transcript.docx
~$A 8502 Predictive and Optimisation Analytics-transcript.docx
